[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/cfillion/imgui.git
[submodule "vendor/reaper-sdk"]
	path = vendor/reaper-sdk
	url = https://github.com/justinfrankel/reaper-sdk.git
[submodule "vendor/WDL"]
	path = vendor/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "vendor/md4c"]
	path = vendor/md4c
	url = https://github.com/mity/md4c
