#include "dialog.hpp"

#ifdef _WIN32
#  include <winres.h>
#endif

IDD_SETTINGS DIALOGEX 0, 0, 100, 100
STYLE   DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT    DIALOG_FONT
BEGIN
  GROUPBOX "ReaImGui settings", IDC_GROUPBOX, 0, 0, 100, 100
  CHECKBOX "", IDC_SAVEDSETTINGS,   6, 10, 220, 14, BS_AUTOCHECKBOX | WS_TABSTOP

  CHECKBOX "", IDC_DOCKWITHSHIFT,   6, 24, 220, 14, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX "", IDC_DOCKSPLIT,       6, 35, 220, 14, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX "", IDC_DOCKTRANSPARENT, 6, 46, 220, 14, BS_AUTOCHECKBOX | WS_TABSTOP

  LTEXT "", IDC_RENDERERTXT, 6, 64, 100, 10
  COMBOBOX IDC_RENDERER, 106, 62, 100, 54,
    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_ERROR DIALOGEX 50, 50, 320, 114
STYLE DIALOG_STYLE
FONT  DIALOG_FONT
BEGIN
  LTEXT "", IDC_MESSAGE, 6, 18, 308, 32
  EDITTEXT IDC_REPORT, 6, 46, 308, 44,
    WS_VSCROLL | ES_MULTILINE | ES_READONLY | NOT WS_TABSTOP
  PUSHBUTTON "ReaImGui &settings...", IDC_SETTINGS, 6, 95, 80, 14
  DEFPUSHBUTTON "&Close", IDOK, 264, 95, 50, 14
END
