#include "dialog.hpp"

#ifdef _WIN32
  #include <winres.h>
  #pragma code_page(65001) // UTF-8
#endif

// Dependent controls are indented 12 dialog units [...] which by design is the
// distance between check boxes and radio buttons from their labels.
// (Source: https://learn.microsoft.com/en-us/windows/win32/uxguide/vis-layout)

IDD_SETTINGS DIALOGEX 0, 0, 100, 100
STYLE   DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT    DIALOG_FONT
BEGIN
  GROUPBOX "ReaImGui settings", IDC_GROUPBOX, 0, 0, 319, 240
  CHECKBOX "", IDC_SAVEDSETTINGS,     7, 11, 305, 8, BS_AUTOCHECKBOX | WS_TABSTOP

  CHECKBOX "", IDC_DOCKINGENABLE,     7, 27, 305,  8, BS_AUTOCHECKBOX | WS_TABSTOP
  // -->
  CHECKBOX "", IDC_DOCKWITHSHIFT,    19, 39, 305,  8, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX "", IDC_DOCKSPLIT,        19, 51, 305,  8, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX "", IDC_DOCKTRANSPARENT,  19, 63, 305,  8, BS_AUTOCHECKBOX | WS_TABSTOP
  // <--

  LTEXT "", IDC_RENDERERTXT, 7, 82, 99, 8
  COMBOBOX IDC_RENDERER, 110, 79, 99, 14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

  PUSHBUTTON "Restore defaults", IDC_RESETDEFAULTS, 242, 219, 70, 14
END

IDD_ERROR DIALOGEX 50, 50, 320, 114
STYLE DIALOG_STYLE
FONT  DIALOG_FONT
BEGIN
  LTEXT "", IDC_MESSAGE, 6, 18, 308, 32
  EDITTEXT IDC_REPORT, 6, 46, 308, 44, WS_VSCROLL | ES_MULTILINE | ES_READONLY
  PUSHBUTTON "ReaImGui &settings...", IDC_SETTINGS, 6, 95, 80, 14
  PUSHBUTTON "←", IDC_PREV, 224, 95, 14, 14
  PUSHBUTTON "→", IDC_NEXT, 242, 95, 14, 14
  DEFPUSHBUTTON "&Close", IDOK, 264, 95, 50, 14
END
